@media (max-width: 575.98px){
/* ------ Common CSS -------- */
    .common_heading h3{
        font-size: 22px ;
    }
    .common_heading p{
        font-size: 12px ;
        margin-bottom: 30px;
    }
    .common_heading p span{
        display: inline;
    }
/* ------- Navbar Part Start-------- */
    .dropdown-menu.show {
        display: block;
        background: #3f3f41;
    }
    .navbar-toggler{
        border: 1px solid #D31E28;
        color:#D31E28 ;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .show{
        padding-bottom: 20px;
    }
    .menu_item{
        background-color: #3f3f41;
        border-radius: 15px;
        padding: 15px 0;
    }
    .menu_item li a{
        color: #fff !important;
    }
    .menu_item li a:hover{
        color:#D31E28 !important;
    }
/* ------Banner Part Start----- */
    #banner{
        padding: 50px 0;
    }
    .banner_text h3 {
        width: 100%;
        font-size: 12px;
    }
    .banner_text h1 {
        width: 100%;
        font-size: 38px;
    }
    .banner_text h2 {
        width: 100%;
        font-size: 20px;
    }
    .banner_text p {
        width: 100%;
        font-size: 12px;
        margin-top: 20px;
    }
    .banner_button a {
        width: 120px;
        font-size: 15px;
        margin-top: 20px;
    }
/* ----- Tools Part Start ----- */
    #tools{
        padding: 70px 0;
    }
    .tools_item {
        width: 80%;
        margin: 15px auto;
    }
    .tools_cards{
        margin-top: 40px;
    }
/* ------ Choose Part Start ------ */
    #choose{
        padding: 70px 0;
    }
    .choose_item{
        padding: 20px;
    }
/* ------ Works Part Start ------- */
    #works{
        padding: 50px 0;
    }
    .works_text_item {
        width: 100%;
        margin-top: 15px;
    }
    .works_text_item .works_number h4 {
        width: 30px;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
    }
    .works_text_item p {
        width: 100%;
        font-size: 15px;
        margin-left: 10px;
    }
    .works_video video {
        width: 300px;
        height: 230px;
        border-radius: 15px;
    }
    .works_video{
        width: 300px;
        margin: 0 auto;
    }
/* ------ Reel Part Start ------- */
    #reel{
        padding: 50px 0;
    }
    .reel_phone video {
        width: 219px;
        height: 395px;
        border-radius: 20px;
    }
    .reel_phone{
        width: 225px;
        margin: 0 auto;
    }
    .reel_phone img {
        width: 225px;
        height: 400px;
        left: 0;
        top: 0;
    }
    .reel_text_item {
        width: 100%;
    }
    .reel_text_item h3 {
        font-size: 18px;
        text-align: center;
    }
    .reel_text_item p {
        font-size: 12px;
        text-align: center;
    }
/* ------ History Part Start ----- */
    #history{
        padding: 50px 0;
    }
    .history_counter {
        flex-direction: column;
    }
    .counter_number_icon {
        display: flex;
        justify-content: center;
    }
    .counter_number_icon .count,
    .counter_text span {
        font-size: 30px;
    }
    .history_counter .line {
        height: 2px;
        width: 70%;
        margin: 30px auto;
    }
/* ----- Download Part Start ----- */
    #downloads{
        padding: 50px 0;
    }
    .download_text h3 {
        font-size: 20px;
    }
    .download_text h2 {
        font-size: 35px;
    }
    .store_logo {
        margin-top: 15px;
    }
    .store_logo a{
        width: 100%;
        text-align: center;
    }
    .store_logo a img {
        margin-top: 25px;
    }
/* ------ Footer Part Start-------- */
    .footer_logo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_left .footer_text p {
        width: 100%;
        text-align: center;
    }
    .footer_left .footer_text p span {
        text-align: center;
    }
    .footer_left .footer_social_icon ul {
        margin: 20px auto 20px auto;
    }
    .footer_menu{
        width: 100%;
        margin: 30px auto;
    }
    .footer_menu h4,
    .footer_form h4{
        text-align: center;
    }
    .footer_menu ul,
    .footer_form form{
        text-align: center;
    }
}
@media (min-width:576px) and (max-width: 767.98px){
/* ------ Common CSS -------- */
    .common_heading h3{
        font-size: 25px ;
    }
    .common_heading p{
        font-size: 14px ;
        margin-bottom: 40px;
    }
/* ------- Navbar Part Start-------- */
    .dropdown-menu.show {
        display: block;
        background: #3f3f41;
    }
    .navbar-toggler{
        border: 1px solid #D31E28;
        color:#D31E28 ;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .show{
        padding-bottom: 20px;
    }
    .menu_item{
        background-color: #3f3f41;
        border-radius: 15px;
        padding: 15px 0;
    }
    .menu_item li a{
        color: #fff !important;
    }
    .menu_item li a:hover{
        color:#D31E28 !important;
    }
/* ------Banner Part Start----- */
    #banner{
        padding: 70px 0;
    }
    .banner_text h3 {
        font-size: 15px;
    }
    .banner_text h1 {
        font-size: 55px;
    }
    .banner_text h2 {
        font-size: 30px;
    }
    .banner_text p {
        font-size: 14px;
    }
    .banner_button a {
        width: 140px;
        font-size: 17px;
    }
/* ----- Tools Part Start ----- */
    #tools{
        padding: 70px 0;
    }
    .tools_item {
        width: 100%;
        margin: 15px auto;
    }
/* ------- Feature Part Start ---- */
    #features{
        padding: 70px 0;
    }
/* ------- Works Part Start ------ */
    #works{
        padding: 70px 0;
    }
    .works_video{
        width: 435px;
        margin: 0 auto;
    }
    .works_video video {
        width: 435px;
        height: 325px;
        border-radius: 15px;
    }
    .works_text_item {
        width: 100%;
    }
    .works_text_item p {
        display: inline;
        width: 100%;
        font-size: 17px;
        margin-left: 10px;
    }
    .works_text_item p span{
        display: inline;
    }
/* ----- Reel part Start ---- */
    .reel_phone video {
        width: 219px;
        height: 395px;
        border-radius: 20px;
    }
    .reel_phone{
        width: 225px;
        margin: 0 auto;
    }
    .reel_phone img {
        width: 225px;
        height: 400px;
        left: 0;
        top: 0;
    }
    .reel_text_item {
        width: 100%;
    }
    .reel_text_item h3 {
        font-size: 22px;
        text-align: center;
    }
    .reel_text_item p {
        font-size: 14px;
        text-align: center;
    }
/* ------ History Part Start ----- */
    #history{
        padding: 70px 0;
    }
    .history_counter {
        flex-direction: column;
    }
    .counter_number_icon {
        display: flex;
        justify-content: center;
    }
    .counter_number_icon .count,
    .counter_text span {
        font-size: 40px;
    }
    .history_counter .line {
        height: 2px;
        width: 70%;
        margin: 30px auto;
    }
/* ----- Download Part Start ----- */
    #downloads{
        padding: 70px 0;
    }
    .download_text h3 {
        font-size: 23px;
    }
    .download_text h2 {
        font-size: 40px;
    }
    .store_logo {
        margin-top: 15px;
    }
    .store_logo a{
        width: 100%;
        text-align: center;
    }
    .store_logo a img {
        margin-top: 25px;
    }
/* ------ Footer Part Start-------- */
    .footer_logo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_left .footer_text p {
        width: 100%;
        text-align: center;
    }
    .footer_left .footer_text p span {
        text-align: center;
    }
    .footer_left .footer_social_icon ul {
        margin: 20px auto 50px auto;
    }
    .footer_menu{
        width: 100%;
        margin: 30px auto;
    }
    .footer_menu h4,
    .footer_form h4{
        text-align: center;
    }
    .footer_menu ul,
    .footer_form form{
        text-align: center;
    }
    .copywrite_text h6 {
        font-size: 14px;
    }
}
@media (min-width:768px) and (max-width:991.98px){
/* ------- Navbar Part Start-------- */
.dropdown-menu.show {
	display: block;
	background: #3f3f41;
}
.navbar-toggler{
	border: 1px solid #D31E28;
    color:#D31E28 ;
}
.navbar-toggler:focus {
	box-shadow: none;
}
.show{
    padding-bottom: 20px;
}
.menu_item{
    background-color: #3f3f41;
    border-radius: 15px;
    padding: 15px 0;
}
.menu_item li a{
    color: #fff !important;
}
.menu_item li a:hover{
    color:#D31E28 !important;
}
/* ----- Tools Part Start ----- */
    .tools_item {
        margin: 15px auto;
    }
 /* ------- Works Part Start ------ */
    .works_video{
        width: 600pxpx;
        margin: 0 auto;
    }
    .works_video video {
        width: 600px;
        height: 450px;
        border-radius: 15px;
    }
    .works_text_item {
        width: 100%;
    }
    .works_text_item p {
        display: inline;
        width: 100%;
        font-size: 17px;
        margin-left: 10px;
    }
    .works_text_item p span{
        display: inline;
    }
/* ----- Reel part Start ---- */
    .reel_phone video {
        width: 219px;
        height: 395px;
        border-radius: 20px;
    }
    .reel_phone{
        width: 225px;
        margin: 0 auto;
    }
    .reel_phone img {
        width: 225px;
        height: 400px;
        left: 0;
        top: 0;
    }
    .reel_text_item {
        width: 100%;
    }
    .reel_text_item h3 {
        font-size: 22px;
        text-align: center;
    }
    .reel_text_item p {
        font-size: 14px;
        text-align: center;
    }
/* ----- Reel part Start ---- */
    .reel_phone video {
        width: 219px;
        height: 395px;
        border-radius: 20px;
    }
    .reel_phone{
        width: 225px;
        margin: 0 auto;
    }
    .reel_phone img {
        width: 225px;
        height: 400px;
        left: 0;
        top: 0;
    }
    .reel_text_item {
        width: 100%;
    }
    .reel_text_item h3 {
        font-size: 24px;
        text-align: center;
    }
    .reel_text_item p {
        font-size: 16px;
        text-align: center;
    }
/* ------ History Part Start ----- */
    .history_counter {
        padding: 50px 40px;
    }
/* ----- Download Part Start ----- */
    .download_text h3 {
        font-size: 25px;
    }
    .download_text h2 {
        font-size: 50px;
    }
    .store_logo {
        margin-top: 25px;
    }
    .store_logo a{
        width: 100%;
        text-align: center;
    }
    .store_logo a img {
        margin-top: 25px;
    }
/* ------ Footer Part Start-------- */
    .footer_logo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_left .footer_text p {
        width: 100%;
        text-align: center;
    }
    .footer_left .footer_text p span {
        text-align: center;
    }
    .footer_left .footer_social_icon ul {
        margin: 20px auto 50px auto;
    }
    .footer_menu{
        width: 100%;
        margin: 30px auto;
    }
    .footer_menu h4,
    .footer_form h4{
        text-align: center;
    }
    .footer_menu ul,
    .footer_form form{
        text-align: center;
    }
    .copywrite_text h6 {
        font-size: 16px;
    }
}
@media (min-width:992px) and (max-width:1199.98px){
/* ------- Tools Part Start ----- */
    .tools_item{
        width: 100%;
    }
/* ------- Works Part Start ------ */
    .works_video{
        width: 450px;
        margin: 0 auto;
    }
    .works_video video {
        width: 450px;
        height: 335px;
        border-radius: 15px;
    }
}